@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');

:root{
    --primary-color: #34D399;
    --secondary-color:#059669;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding-inline-start: 0;
    display: flex;
}

.container{
    margin: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 46vh;
    text-align: center;
}

.menu{
    max-width: 18rem;
    margin: auto;
}

.menu > ul{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu__card{
    background: var(--primary-color);
    width: 8rem;
    height: 6.5rem;
    margin: 0.3rem 0.2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #ffff;
    cursor: pointer;
    border-radius: 3px;
}

.menu__card:hover{
    background: var(--secondary-color);
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer > li{
    padding: 0.5rem 1rem;
}